<h5>Hello, Teacher!</h5>
  <br>
<p><b>1. Giới thiệu</b></p>
    <ul>
      Công ty TNHH Webcaycanh được thành lập vào ngày 24 tháng 05 năm 2020, với sứ mệnh mang đến không gian xanh cho mọi người, chia sẻ kinh nghiệm và kiến thức chăm sóc cây cảnh. Đến với Web Cây Cảnh không đơn giản chỉ là mua cây, mà chúng tôi còn hướng dẫn quý khách hàng cách chăm sóc, cách khắc phục khi cây gặp phải vấn đề không tốt, cây cảnh mua tại cửa hàng đều được bảo hành 7 ngày đến 30 ngày tùy vào cây to hay nhỏ, để đảm bảo sản phẩm hoàn toàn là chất lượng không bị ủ bệnh trước khi mua.

    Ngoài ra nếu quý khách không mua cây tại cửa hàng, mà mua ở bất kỳ đâu khi gặp vấn đề hãy cứ liên hệ với chúng tôi, chúng tôi sẵn sàng tư vấn miễn phí và nhiệt tình, để cây có thể tốt trở lại.
    </ul>
<p><b>2. Về Web Cây Cảnh</b></p>
    <ul>
      – Đứng đầu lĩnh vực Online về thị trường cây cảnh. <br>

      – Đơn vị cây cảnh đầu tiên có cơ sở tại 2 thành phố lớn Hà Nội và Hồ Chí Minh. <br>

      – Bảo hành sau khi mua cây. <br>

      – Tư vấn chuyên nghiệp. <br>

      – Hỗ trợ giải đáp thắc mắc, chăm sóc trọn đời.<br>
    </ul>

<p><b>3. Web Cây Cảnh làm những gì?</b></p>
    <ul>
      Công ty TNHH Webcaycanh làm 3 hạng mục chính: <br>

      – Bán Cây Cảnh để bàn, văn phòng, nội thất, phong thủy… <br>
      
      – Chăm sóc cây cho văn phòng, tòa nhà, tại nhà. <br>
      
      – Thiết kế và tư vấn bố trí cây xanh. <br>
      
      Trong thời gian hoạt động và làm việc chúng tôi đã bán và hỗ trợ chăm sóc rất nhiều cây cảnh, cũng đã làm nhiều dự án lớn cho các đối tác như: Viettel, Mobifone, Ivy, Vietjet, Euro Window, khách sạn 4* Sky, quán cafe…<br>
    </ul>

<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(78).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(79).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(81).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(82).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(84).jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mail.google.com/mail/u/0/#inbox"> Nguyễn Xuân Thuận</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
